<!DOCTYPE html>
<html ng-app="telFormat">

  <head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="style.css" />
    <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.9/angular.js" data-semver="1.4.9"></script>
    <script src="app.js"></script>
    <script src="phoneFilter.js"></script>
    
    
  </head>

  <body ng-controller="MainCtrl">
      
    <select class="dropdown" ng-model="countryCode" ng-change="phoneNumber='';">
      <option value="">Select Country</option>
      <option value="+1">US (+1)</option>
      <option value="+91">India (+91)</option>
      <option value="+33">France (+33)</option>
      <option value="+61">Australia (+61)</option>
      <option value="+65">Singapore (+65)</option>
    </select>
    <input class="txtBox" type="text" ng-model="phoneNumber" /><br><br>
    <div ng-class="{'output': phoneNumber}">{{ phoneNumber | tel:this }} &nbsp;</div>
        
  </body>
  

</html>
